<div class="container-fluid m-3">
    <div class="row mb-2">
    <h1>License Plate Reader</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="row">
                <h2>Upload</h2>
            </div>
            <div class="row">
                <h3 class="mr-2">Upload via file:</h3>
                <form enctype="multipart/form-data">
                    <input class="form-control" #file type="file" (change)="handleFileInput($event.target.files)" id="file" name="file">
                </form>
            </div>
        </div>
        <div class="col-md-1 col-sm-12">
            <div class="row">
                <h2>Calculate</h2>
            </div>
            <div>
                <button [disabled]="busy" class="btn btn-primary" (click)="upload()" >Calculate</button>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="row">
                <h2>Original</h2>
            </div>
            <div class="row">
                <img src="{{url}}/orig?id={{id}}"> 
            </div>
        </div>
        <div class="row">
        <div class="col-md-3 col-sm-12" *ngFor="let license of licenses; let i = index">
            <div class="row">
                <h2>Car: {{license}}</h2>
            </div>
            <div class="row">
                <img src="{{url}}/car?id={{id}}&i={{i}}">
            </div>
            <div class="row">
                <img src="{{url}}/lp?id={{id}}&i={{i}}">
            </div>
        </div>
        </div>
    </div>
</div>
