numpy===1.18.5
aiohttp===3.6.2
aiofiles===0.5.0
uvicorn===0.11.5
starlette===0.13.4
python-multipart===0.0.5
opencv-python===4.3.0.38
keras===2.3.1
parameterized==0.7.4
pytest==5.4.3
pytest-cov==2.9.0